header {
color: rgb(133, 73, 51);
font-size: 3em;
text-align: center;
}
#homeinfo {
  font-family: 'Vidaloka', serif;
  color: rgb(95, 56, 5);
  ;
}
img {
  height: 500px;
  width: 550px;
}
.home-images {
  display: flex;
  justify-content: center;

}

.home-header {

}
/* .PICTURES {
  display: flex;
  row-gap: 12px;
} */

body{
background-color:#ffb4a2;
font-size: 1.5em;
font-family: 'Vidaloka', serif;
}
h1,h2,h3 {
  font-size: 30px;
  color: #7d8e95;
}

  nav {
  text-align: center;
  background-color: #a5721b;
}


div {
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
  }






  //FLEXBOX

#id1 {
  display: flex;
  flex-direction:row;
}

 @media (min-width: 550px) {
  nav > .fa-bars {
    display:none;
  }
}


/* * #nutrition img {
  float: left;
  widt 25%;
  height: auto;
  margin-right: 1rem;
}h:
*/

*{
    margin: 0;
    padding: 0;
  }

  a{
    text-decoration: none;
  }

  .navbar{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: ##ffb4a2;
    font-size: 20px;
  }

  .logo{
    margin-left: 30%;
    color: #7d8e95;
    font-size: 27px;
    font-weight: bold;
  }
  .logo_header{
    display: flex;
    margin-left: 6%;
  }

  .main_nav{
    display: flex;
    width: 50%;
    float: right;
    margin-right: 2%;
    justify-content: space-between;
    list-style: none;
  }
  /* .main_nav li:hover{
    background-color: gray */
  }

  .main_nav li {
    display: inline;
    color: #f8f8f8;
  }
  .main_nav li a{
    color: #ffffff;
  }


  .nutrition-pictures {
    display: flex;
    justify-content: space-evenly;
  }
