header {
color: rgb(133, 73, 51);
font-size: 3em;
text-align: center;
}
#homeinfo {
  font-family: 'Vidaloka', serif;
  color: rgb(95, 56, 5);

}
img {
  height: 500px;
  width: 450px;
  border: 2px solid #9E3680

}
.home-images {

  display: flex;
  justify-content: space-evenly


}

/* .PICTURES {
  display: flex;
  row-gap: 12px;
} */

body{
background-color:#ffb4a2;
font-size: 1.6em;
font-family: 'Vidaloka', serif;
}
h1,h2,h3 {
  font-size: 34px;
  text-align: center;
  color: #207792;
}

  nav {
    border: 2px solid #050505;
  text-align: center;
  background-color: purple;
  padding-right: 50px;

}


div {
    padding-top: 10px;
    padding-right: 50px;
    padding-bottom: 10px;
    padding-left: 50px;
  }






  //FLEXBOX

#id1 {
  display: flex;
  flex-direction:row;
}

 @media (min-width: 550px) {
  nav > .fa-bars {
    display:none;
  }
}


/* * #nutrition img {
  float: left;
  widt 25%;
  height: auto;
  margin-right: 1rem;
}h:
*/

*{
    margin: 0;
    padding: 0;
  }

  a{
    text-decoration: none;
  }

  .navbar{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    padding-top: 2%;
    padding-bottom: 1%;
    background-color: ##ffb4a2;
    font-size: 30px;
  }

  .logo{
    margin-left: 60%;
    color: aqua;
    font-size: 30px;
    font-weight: bold;
  }
  .logo_header{
    display: flex;
    margin-left: 0%;

  }

  .main_nav{
    display: flex;
    width: 65%;
    float: left;
    margin-right: 8%;
    justify-content: space-between;
    list-style: none;

  }

  /* .main_nav li:hover{
    background-color: gray  */


  .main_nav li {
    display: inline;
    color: #fdfcfc;
  }
  .main_nav li a{
    color: #faf9f9;
    font-weight: bold;
  }


  .nutrition-pictures {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: row;
  }


  .selfcarepics {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  /* .selfcarepics img {
    margin: 10px;
    box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.3);
    max-width: 25vw;
  } */

​.footer {
  text-align: center;
  background-color: aqua;
  color: #9E3680;
  padding: 20px;
  position: fixed;
  bottom: 0;

}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:purple;
  color: aqua;
  text-align: center;
}
